.about {
  padding: 100px 80px 173px;
  background-color: #0a2850;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  gap: 120px;
}

.about__title {
  color: #fff;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  z-index: 1;
}

.about__title:hover {
  text-decoration: none;
  color: #1f69c9;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  z-index: 1;
  gap: 20px;
}

.about__circle {
  background-color: #1878dc;
  margin-top: 19px;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  background-color: #1878dc;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  top: -152px;
  left: -129px;
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.about__paragraph {
  color: #fff;
  margin: 0 0 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}
