.header {
  z-index: 1;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.header__image {
  z-index: -1;
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  max-width: 729px;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-style: italic;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__footer {
  align-items: end;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  color: #838383;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
